# **Cours 1 : Introduction à Python**

## **Présentation du langage Python**

Python est un langage de programmation interprété, orienté objet et de haut niveau, avec une syntaxe claire et facile à apprendre. Il est largement utilisé dans de nombreux domaines tels que le développement web, l'analyse de données, l'intelligence artificielle et, bien sûr, les humanités numériques.

---

## **Bases de la programmation en Python**

### **Variables et types de données**

#### **1. Types de données de base**

##### **Integer (int) - Nombres entiers**

In [1]:
nombre_entier = 42
print(nombre_entier)
print(type(nombre_entier))

42
<class 'int'>

##### **Float - Nombres à virgule flottante**

In [2]:
nombre_flottant = 3.14
print(nombre_flottant)
print(type(nombre_flottant))

3.14
<class 'float'>

##### **String (str) - Chaînes de caractères**

In [3]:
chaine_de_caracteres = "Bonjour, Python!"
print(chaine_de_caracteres)
print(type(chaine_de_caracteres))

Bonjour, Python!
<class 'str'>

**f-strings** (formatage de chaînes introduit en Python 3.6) :

In [4]:
nom = "Alice"
age = 25
print(f"Je m'appelle {nom} et j'ai {age} ans.")

Je m'appelle Alice et j'ai 25 ans.

##### **Booléen (bool) - Valeurs logiques**

In [5]:
est_vrai = True
est_faux = False
print(est_vrai)
print(type(est_vrai))

True
<class 'bool'>

#### **Exercice 1 : Manipulation des types de données de base**
Créez des variables pour chaque type de données de base (int, float, str, bool) avec des valeurs de votre choix et affichez-les.

*Solution :*

In [6]:
# Votre code ici

#### **2. Structures de données**

##### **Listes**

Une liste est une collection ordonnée et modifiable d'éléments.

**Création d'une liste :**

In [7]:
animals = ["draco", "unicorn", "baslisk"]
print(animals)

['draco', 'unicorn', 'baslisk']

**Accéder aux éléments :**

In [8]:
print(animals[0])  # Premier élément
print(animals[-1])  # Dernier élément

draco
baslisk

**Modifier un élément :**

In [9]:
animals[1] = "amphisbena"
print(animals)

['draco', 'amphisbena', 'baslisk']

**Méthodes utiles :**
- `append()` : Ajouter un élément à la fin de la liste

In [10]:
animals.append("patnhera")
print(animals)

['draco', 'amphisbena', 'baslisk', 'patnhera']

- `sort()` : Trier la liste

In [11]:
animals.sort
print(animals)

['draco', 'amphisbena', 'baslisk', 'patnhera']

##### **Exercice 2 : Manipulation des listes**

Créez une liste contenant les noms de 5 de vos films préférés. Affichez le troisième film de la liste, ajoutez un nouveau film à la fin, puis triez la liste par ordre alphabétique.

*Solution :*

In [12]:
# Votre code ici

##### **Tuples**

Un tuple est similaire à une liste, mais il est immuable (non modifiable après sa création).

**Création d'un tuple :**

In [13]:
ms_list = ("Add 11283", "Aberdeen 24", "Bern 318")
print(ms_list)

('Add 11283', 'Aberdeen 24', 'Bern 318')

**Accéder aux éléments :**

In [14]:
print(ms_list[0])

Add 11283

##### **Exercice 3 : Utilisation des tuples**

Créez un tuple avec les jours de la semaine. Essayez de modifier l'un des éléments du tuple et observez le résultat.

*Solution :*

In [15]:
# Votre code ici

##### **Dictionnaires**

Un dictionnaire est une collection non ordonnée de paires clé-valeur.

**Création d'un dictionnaire :**

In [16]:
personne = {"nom": "David", "âge": 34, "ville": "Paris"}
print(personne)

{'nom': 'David', 'âge': 34, 'ville': 'Paris'}

**Accéder aux valeurs :**

In [17]:
print(personne["nom"])

David

**Ajouter une nouvelle paire clé-valeur :**

In [18]:
personne["profession"] = "Réalisateur"
print(personne)

{'nom': 'David', 'âge': 34, 'ville': 'Paris', 'profession': 'Réalisateur'}

**Méthodes utiles :**

- `keys()` : Retourne les clés du dictionnaire

In [19]:
print(personne.keys())

dict_keys(['nom', 'âge', 'ville', 'profession'])

- `values()` : Retourne les valeurs du dictionnaire

In [20]:
print(personne.values())

dict_values(['David', 34, 'Paris', 'Réalisateur'])

##### **Exercice 4 : Manipulation des dictionnaires**

Créez un dictionnaire contenant des informations sur un livre (titre, auteur, année de publication). Affichez le titre du livre et ajoutez le nombre de pages au dictionnaire.

*Solution :*

In [21]:
# Votre code ici

#### **Sets (Ensembles)**

Les sets sont des collections non ordonnées d'éléments uniques.

##### **Création d'un set**

In [22]:
mon_set = {1, 2, 3, 4, 5}
print(mon_set)

{1, 2, 3, 4, 5}

**Remarque** : Pour créer un set vide, utilisez `set()` et non `{}`, car `{}` crée un dictionnaire vide.

In [23]:
set_vide = set()
print(set_vide)

set()

##### **Propriétés des sets**

- **Pas d'indexation** : Vous ne pouvez pas accéder aux éléments par leur position.
- **Éléments uniques** : Les doublons sont automatiquement supprimés.

In [24]:
mon_set = {1, 2, 2, 3, 4, 4, 5}
print(mon_set)  # Affiche {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

##### **Opérations ensemblistes**

- **Union**

In [25]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1.union(set2)
print(union)  # Affiche {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

- **Intersection**

In [26]:
intersection = set1.intersection(set2)
print(intersection)  # Affiche {3}

{3}

- **Différence**

In [27]:
difference = set1.difference(set2)
print(difference)  # Affiche {1, 2}

{1, 2}

- **Différence symétrique**

In [28]:
difference_sym = set1.symmetric_difference(set2)
print(difference_sym)  # Affiche {1, 2, 4, 5}

{1, 2, 4, 5}

##### **Méthodes courantes**
- `add(element)`: Ajoute un élément.

In [29]:
mon_set.add(6)
print(mon_set)

{1, 2, 3, 4, 5, 6}

- `remove(element)`: Supprime un élément (erreur si l'élément n'existe pas).

In [30]:
mon_set.remove(2)

- `discard(element)`: Supprime un élément (pas d'erreur si l'élément n'existe pas).

In [31]:
mon_set.discard(10)  # Ne fait rien, pas d'erreur

##### **Exercice : Manipulation des Sets**

1. Créez un set `voyelles` contenant les lettres `'a'`, `'e'`, `'i'`, `'o'`, `'u'`.

In [ ]:
# Votre code ici

2. Entrer une phrase.

In [32]:
# Votre code ici

3. Trouvez les voyelles utilisées dans la phrase.

In [33]:
# Votre code ici

4. Affichez le nombre de voyelles différentes utilisées.

In [34]:
# Votre code ici

### **Récapitulatif des Types de Données**

- **Types de base** :
  - **int** : Nombres entiers
  - **float** : Nombres à virgule flottante
  - **str** : Chaînes de caractères
  - **bool** : Booléens (`True` ou `False`)

- **Structures de données** :
  - **Listes** : Séquences ordonnées et modifiables
  - **Tuples** : Séquences ordonnées et immuables
  - **Sets (Ensembles)** : Collections non ordonnées d'éléments uniques
  - **Dictionnaires** : Collections non ordonnées de paires clé-valeur

### **Opérateurs logiques et manipulation de variables**

#### **1. Concaténation**

Assembler des chaînes de caractères.

In [35]:
prenom = "Marion"
nom = "Chaouabti"
nom_complet = prenom + " " + nom
print(nom_complet)

Marion Chaouabti

#### **2. Indexation**

Accéder à un caractère spécifique dans une chaîne.

In [36]:
mot = "Python"
print(mot[0])    # Premier caractère
print(mot[-1])   # Dernier caractère

P
n

#### **3. Tranchage (Slicing)**

Obtenir une sous-chaîne.

In [37]:
citation = "Draco maior est animalibus"
print(citation[0:5])    # 'Draco'
print(citation[6:11])   # 'maior'

Draco
maior

#### **4. Méthodes utiles**

- `type()`: Obtenir le type d'une variable

In [38]:
print(type(mot))

<class 'str'>

- `len()`: Obtenir la longueur d'une séquence

In [39]:
print(len(citation))

26

- `split()`: Diviser une chaîne en une liste

In [40]:
mots = citation.split(" ")
print(mots)

['Draco', 'maior', 'est', 'animalibus']

##### **Exercice 5 : Manipulation de chaînes de caractères**
A partir du paragraphe suivant affichez le nombre de phrase et le nombre de mots contenus dans la troisième phrase.

*Les Cyranides*, Hermès Trismégiste (attribué à)

**III, 14. De la colombe.**
La colombe est un oiseau connu de tous. Il existe dans l'Inde un
arbre appelé péridexion ; son fruit est si doux et si bon que les
colombes, après en avoir mangé restent dans l'arbre et y font
leur nid. Le serpent craint cet arbre au point d'en fuir même
l'ombre. Si l'ombre de l'arbre s'étend vers l'orient le serpent fuit
vers l'occident ; si l'ombre vient vers l'occident, le serpent court
vers l’orient ; et la puissance de l'arbre l'empêche d'attraper les
colombes. Mais si quelqu'une des colombes s'éloigne de l'arbre, le
serpent les attire par son souffle et les mange. Mais si elles
s'envolent toutes ensemble, ni le serpent, ni les oiseaux au vol
rapide n'osent les toucher. Les feuilles de l'arbre ou son écorce, en
fumigations, chassent toute espèce de mal.

*Solution :*

In [41]:
# Votre code ici

### **Structures de contrôle : conditions et boucles**

#### **1. Conditions**

##### **Structure `if`, `elif`, `else`**

In [42]:
age = 20
if age < 18:
    print("Mineur")
elif age == 18:
    print("Tout juste majeur")
else:
    print("Majeur")

Majeur

##### **Opérateurs de comparaison et logiques**

- Opérateurs de comparaison : `==`, `!=`, `>`, `<`, `>=`, `<=`
- Opérateurs logiques : `and`, `or`, `not`

##### **Exercice 6 : Vérification d'un nombre pair ou impair**

Créez un script qui permet d'indiquer si un nombre est pair ou impair

*Solution :*

In [43]:
# Votre code ici

#### **2. Boucles bornées : `for`**

Parcours d'une séquence (liste, chaîne, etc.)

**Exemple avec une liste :**

In [44]:
animals = ["draco", "unicorn", "baslisk"]
for animal in animals:
    print(animal)

draco
unicorn
baslisk

**Utilisation de `range()`:**

In [45]:
for i in range(5):
    print(i)

0
1
2
3
4

**Instructions `break` et `continue`:**

- `break`: Sortir immédiatement de la boucle
- `continue`: Passer à l'itération suivante

**Exemple :**

In [46]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### **Exercice 7 : Calcul de la somme des nombres pairs de 1 à 100**

Calculez et affichez la somme de tous les nombres pairs entre 1 et 100 inclus.

*Solution :*

In [47]:
# Votre code ici

#### **3. Boucles non bornées : `while`**

Exécute les instructions tant que la condition est vraie.

In [48]:
compteur = 0
while compteur < 5:
    print("Compteur :", compteur)
    compteur += 1

Compteur : 0
Compteur : 1
Compteur : 2
Compteur : 3
Compteur : 4

**Instructions `break` et `continue` fonctionnent également avec `while`.**

##### **Exercice 8 : Jeu de devinette**

L'ordinateur choisit un nombre aléatoire entre 1 et 10. L'utilisateur doit deviner le nombre. Indiquez si le nombre saisi est trop petit ou trop grand jusqu'à ce que l'utilisateur trouve le bon nombre.

*Indice : Utilisez le module `random` pour générer un nombre aléatoire.*

*Solution :*

In [49]:
# Votre code ici

### **Conclusion**

Dans ce notebook, nous avons couvert les bases de la programmation en Python :

- Les **types de données de base** et les **structures de données** (listes, tuples, dictionnaires)
- Les **opérateurs** et les **méthodes utiles** pour manipuler les données
- Les **structures de contrôle** avec les **conditions** et les **boucles**

---